/* HY 469 - Project - Phase B - Intermediate 1
	Team 6
	Vasileia Fragkiadaki
	Ifigeneia Tsiarsioti */

  #app-name{
  	font-size: 140%!important;
    font-family: 'Calibri';
  	padding-top:0.3%;
  	padding-bottom:0;
  	padding-left: 0.5%;
  }
  #timer{
  	font-size: 110%!important;
    font-family: 'Calibri';
  }

  #date{
    font-size: 115%!important;
    font-family: 'Calibri';
  	padding-top:0.1%;
  	padding-bottom:0;
  	text-align: center;

  }

  #meeting-title{
  	float:left;
  	margin-left:10%;
  	font-size: 110%!important;
		font-family: 'Calibri';
		color:white !important;
	}
	
