@import url("icons-lists.css");
html,body {

	font-size: 22px;
	background:#E5ECF6 !important;
	padding:0;
	margin:0;
	min-height:100%;
	color:white;
	font-family:'Roboto' !important;
}
#container-main {
	padding-right: 0px !important;
    padding-left: 0px !important;
	width: 100%;

	background-color:green;
	height: 100%;

 }
#row1,#row2{
	    width: 100%;
    height: 100%;

	margin-right:0;
	margin-left:0;
}

#col1 {

    float: left;
    display:table;
    vertical-align:middle;
    width: 100%;
    height: 50%;
	padding:0px;
	margin:0px;
}
#col2{
	padding-right: 1%;
}
#title{
	display: inline;

}

.header{

   	background-color:#481B58;
	color:white;
	text-align:left;

    display:inline-block;
    vertical-align:middle;
    width: 100%;


}

.header2 {
	background-color: #003F87;
  float: left;
  display:table;
  vertical-align:middle;
  width: 100%;
	color:white;
	height: 30px;
	text-align:center;
}
#header-table{
	overflow: hidden;
	width: 100%;
	margin:0;
	padding: 0;
}

#header-table td{
		border: 2px solid #481B58;
}
.subheader-table{
	margin: 0.8% auto;
  background-color: #003F87;
  width: 100%;
	table-layout: fixed;
}

.subheader-table td{
	word-break: break-all;
}
#meeting-title{
	float:left;
	margin-left:10%;
	font-size: 110%;
	font-family: 'Calibri';
}
.img-responsive{
	float: right;
	border-radius:50%;
	width: 70px !important;
  height: 40px !important;
	padding-top:0.5% !important;
	margin: 0;
}

.table{
	display:inline;
	table-layout: fixed;
	width:100%;
}

.table td{
	text-align:center;
	white-space:nowrap;
}
.table td:nth-child(1){
   padding-right:120px;
   padding-top: 2.5%;
}
.table td:nth-child(2){
    padding-right:150px;
	padding-top: 2.5%;
}
.table td:nth-child(3){
  padding-right:160px;
  padding-top: 2.5%;
}
.table td:nth-child(4){
    padding-left:80px;

	align:center;
}

.meetings-field{
	width:100%;
	background-color:white!important;


}
#meetings{
		font-family: 'Calibri';
		font-size: 115%!important;
}

.info{
	width:100%;

color:black;
}


caption{
	padding-left:0.5%;
		font-size:20px;
		margin-bottom:0;
		color:black;

}

#container-meetings {

	width: 100%;

	height: 100%;
   padding-right:0;
   padding-left:0;
   margin-right:auto;
   margin-left:auto;

 }



#table-info td{
    color: black;
	text-align:left;
	font-size:18px;
	font-family:'Roboto' !important;
	vertical-align:middle;
}

#table-info tr{
    line-height:0.5;
}

#table-info a{
	font-size:18px;
	color:white;
}
.btn{
	padding:0px;

	background-color: #003F87;
	color:white;
	border: none;
	font-size:25px !important;
	border-radius:50px !important;
	width:180px;
	height:35px;
	font-size:20px;

	text-decoration:none;
}
.btn:hover, .btn_custom:hover{
    background-color: #3e6eb3;
    text-decoration: none;
    color: white !important;
}
#newSession{
	margin:4%;
		padding-left:8%;
		border-radius:50px;

}
.btn2{
	padding-left:3%;
	background-color: #00d2ff;
	color:white;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:2%;
	padding-top:2%;
	text-decoration:none;

}
.btn2:hover, .btn_custom:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white;
}
.btn3{
	padding-left:10%;
	padding-right:10%;
	background-color: #00d2ff;
	color:white;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;
	text-decoration:none;

}
.btn3:hover, .btn_custom:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white;
}
.bbtn3{
	padding-left:10%;
	padding-right:10%;
    background-color: #e5ecf6;
    text-decoration: none;
    color: #00d2ff !important;
	border: none;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;


}
.bbtn3:hover, .btn_custom:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white !important;
}
#Ameetings{
	font-size:20px;

}

#addIcon{
	margin-left:3%;
	margin-right:2%;
	width:20px;

}
#col-session{
	padding:0;
}

#newP{
	margin:0;
	padding:0;
}

#app-name{
	font-size: 140%!important;
  font-family: 'Calibri';
	padding-top:1%;
	padding-bottom:0;
	padding-left: 0.5%;
}
#timer{
	font-size: 110%!important;
  font-family: 'Calibri';
}

#date{
	font-size: 115%!important;
  font-family: 'Calibri';
	padding-top:1%;
	padding-bottom:0;
	text-align: center;
}
#sign-in-img{
	margin-left: 50px!important;
}

.dropdown {
    position: relative;
    display: inline-block;
		height: 40px;
}

.dropdown-menu {
		position: absolute!important;
		top:6%!important;
		right: 75%!important;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #481B58!important;
		border: 4px solid #2f123a;
		width: 18%!important;
		height: 80%!important;
}
#sign-out{
	position: absolute;
	top:5%;
	width:100%;
	font-family: 'Calibri';
	min-height:100%;
	padding-top:2%;
	font-size: 115%;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: white;
}

.dropdown-menu:hover, #sign-out:hover {
	display: block;
  background-color: #6b437a!important;
}

.dropdown-menu:active, #sign-out:active {
  background-color: #764e84!important;
}

.btn_grey{
	background-color: #e5ecf6;
	text-decoration: none;
	color: #3e6eb3 !important;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 130px;
	height: 45px;
	padding: 12px;
	border-radius: 100px!important;
	font-size: 90% !important;
}

.btn_grey:hover{
	background-color: #edf1f7;
	text-decoration:none;
}

.btn_custom{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 95% !important;
}

.btn_custom:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}
#menu_icons{
	padding-top:1%;

}

#Icon2{
	width:30px;
	height:30px;
}
#text1{
	float:left;
	padding-left:0;
}
#Icon1{
	padding-right:0;
}
#fileText{
	font-size: 110%!important;
}
#Text2{
	font-size: 110%!important;
	padding-left:1%;
	padding-top:3%;
}
#Icon4{
	width:30px;
	height:30px;
	padding-right:5%;
}
#browse{
text-decoration:none;
}
.btn4{
padding-left:10%;
	padding-right:10%;
	 background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:60px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;


}
.bbtn4:hover, .btn_custom:hover{
    background-color: #3e6eb3;
    text-decoration: none;
    color: white !important;
}
.bbtn4{
padding-left:10%;
	padding-right:10%;
	background-color: #003F87;
	color:white;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:120px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:6%;
	text-decoration:none;
}
#Icon3{
	padding-right:0%;
	padding-top:1%;
	padding-left:40%;
}

#Text3{
	color: #707070 !important;
	padding-left:1%;
	padding-top:1%;
}
.col3{padding:0px !important;}
