/* HY 469 - Project - Phase B - Intermediate 1
	Team 6
	Vasileia Fragkiadaki
	Ifigeneia Tsiarsioti */

.table{
	display:table;
	table-layout: fixed;
	width:100%;
}

.table td{
  display: table-cell;
  width:14.28%;
  text-align: left;
	font-size: 100%!important;
  margin:0;
  padding: 0;
}

.table td:nth-child(1), .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4), .table td:nth-child(5) {
   padding: 15px 15px;
}

.part-table caption{
		padding-left:2%;
		margin-bottom:0;
    font-size: 120%;
}
.part-table1 caption, .files-table caption{
		padding-left:1.5%!important;
		margin-bottom:0;
    font-size: 130%;
}

#header-table{
	overflow: hidden;
	width: 100%;
	margin:0;
	padding: 0;
}

#header-table td{
		border: 2px solid #481B58;
}

#header-table td:nth-child(2){
		text-align: center;
}

.part-table tr, .files-table tr{
  line-height:0.5;
 }

 .part-table td, .files-table td{
  color: black;
 	font-family:'Roboto' !important;
 	vertical-align:middle;
 }

 .part-table a, .files-table a{
 	font-size:0%;
 	color:white;
 }

.part-table1 {
  table-layout: fixed ;
  width: 100% ;
}

.part-table1 td {
  width: 50% ;
}
.part-table1{
	margin-bottom:0 !important;
}
.part-table{
	font-family:'Roboto' !important;
}
.part-table td{
	font-family:'Roboto' !important;
}
.img-responsive{
  float: right;
	border-radius:50%;
	width: 50px;
  height: 50px;
  margin-right:2px;
}

.table{
	display:table;
	table-layout: fixed;
	width:100%;
}

.table td{
  display: table-cell;
  width:14.28%;
  text-align: left;
	font-size: 100%!important;
  margin:0;
  padding: 0;
	word-break: normal;
}

.table td:nth-child(1), .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4), .table td:nth-child(5) {
   padding: 15px 15px;
}
.table td:nth-child(1){
	width: 22%!important;
}
.subheader-table{
	margin: 0.8% auto;
  background-color: #003F87;
  width: 100%;
	table-layout: fixed;
}

.subheader-table td{
	word-break: break-all;
}
