@import url("icons-lists.css");
html,body {

	font-size: 22px;
	background:#E5ECF6 !important;
	padding:0;
	margin:0;
	min-height:100%;
	color:white;
	font-family:'Roboto' !important;
}
#container-main {
	padding-right: 0px !important;
    padding-left: 0px !important;
	width: 100%;
	height: 100%;

 }
#row1{
	    width: 100%;
    height: 100%;

	margin-right:0;
	margin-left:0;
}

#col1 {

    float: left;
    display:table;
    vertical-align:middle;
    width: 100%;
    height: 50%;
	padding:0px;
	margin:0px;
}


.header{

   background-color:#481B58;
	color:white;
	text-align:left;

    display:inline-block;
    vertical-align:middle;
    width: 100%;


}

.header2 {
		background-color: #003F87;
    float: left;
    display:table;
    vertical-align:middle;
    width: 100%;
   height:25%;
	color:white;
	text-align:center;

}
.img-responsive{
	float: right;
	border-radius:50%;
	width: 70px !important;
  height: 40px !important;
	padding-top:0.5% !important;
	margin: 0;
}
.btn_custom{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 95% !important;
}

.btn_custom:hover{
  background-color: #3e6eb3 !important;
	text-decoration: none!important;
}
.table{
	display:inline;
	table-layout: fixed;
	width:100%;
}

.table td{
	text-align:center;
	white-space:nowrap;
}
.table td:nth-child(1){
   padding-right:120px;
   padding-top: 2.5%;
}
.table td:nth-child(2){
    padding-right:150px;
	padding-top: 2.5%;
}
.table td:nth-child(3){
  padding-right:160px;
  padding-top: 2.5%;
}
.table td:nth-child(4){
    padding-left:80px;

	align:center;
}
.book-field{
	width:100%;
	background-color:white!important;
}

label{
	font-family:'Roboto' !important;
	padding-left:0.5%;
	margin-bottom:0.5% !important;
}

.form-control{
	padding: 6px 0.5% !important;
	background-color:#E5ECF6 !important;
	color:black !important;
}

.desc{

	width:50%;
}

.form-group{
	padding:1% !important;
	margin:0 !important;
}

::placeholder {
    color: black !important;
    opacity: 1;
}

#datetime{
	padding-top:0 !important;
	padding-bottom:7% !important;
}
#formCol{
	padding-bottom:0% !important;
	padding-top:1.3% !important;
}

#submit1{

	border: none;
	color: white;
	cursor: pointer;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	font-size: 120% !important;
	text-align:center;
	display:inline-block;
}

#submit1:hover{

}
#book{
	text-align:center;

}
p{
	display:inline;
}
#participants{
  background-color: white !important;
  overflow: scroll;
  overflow-x: hidden;
  height:200px;

}


#colPar{
	padding-left:0 !important;
	padding-right:4% !important;
}
#col3{
	padding-right:1% !important;
}

.btn3{
	padding-left:10%;
	padding-right:10%;
	background-color: #00d2ff;
	color:white;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;
	text-decoration:none;

}
.btn3:hover, .btn_custom:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white;
}
.bbtn3{
	padding-left:10%;
	padding-right:10%;
    background-color: #e5ecf6;
    text-decoration: none;
    color: #00d2ff !important;
	border: none;
	font-size:20px;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;


}
.bbtn3:hover, .btn_custom:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white !important;
}
#app-name{
	font-size: 140%!important;
  font-family: 'Calibri';
	padding-top:0.3%;
	padding-bottom:0;
	padding-left: 0.5%;
}
#timer{
	font-size: 110%!important;
  font-family: 'Calibri';
}

#date{
  font-size: 115%!important;
  font-family: 'Calibri';
	padding-top:0.1%;
	padding-bottom:0;
	text-align: center;

}
#sign-in-img{
	margin-left: 50px!important;
}

.dropdown {
    position: relative;
    display: inline-block;
		height: 40px;
}

.dropdown-menu {
		position: absolute!important;
		top:6%!important;
		right: 75%!important;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #481B58!important;
		border: 4px solid #2f123a;
		width: 18%!important;
		height: 80%!important;
}
#sign-out{
	position: absolute;
	top:5%;
	width:100%;
	font-family: 'Calibri';
	min-height:100%;
	padding-top:2%;
	font-size: 115%;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: white;
}

.dropdown-menu:hover, #sign-out:hover {
	display: block;
  background-color: #6b437a!important;
}

.dropdown-menu:active, #sign-out:active {
  background-color: #764e84!important;
}


.btn_grey{
	background-color: #e5ecf6!important;
	text-decoration: none;
	color: #3e6eb3 !important;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 130px;
	height: 45px;
	padding: 12px;
	border-radius: 100px!important;
	font-size: 90% !important;
}

.btn_grey:hover{
		background-color: #edf1f7!important;
	text-decoration:none;
}
#meeting-title{
	float:left;
	margin-left:10%;
	font-size: 110%;
	font-family: 'Calibri';
}
#smr2{
	font-size:16px;
	padding-top:1%;
	padding-bottom:0;

}
#Ameetings{
	font-size:20px;

}
#menu_icons{
	padding-top:1%;

}

#Icon2{
	width:30px;
	height:30px;
}
#text1{
	float:left;
	padding-left:0;
}
#header-table{
	overflow: hidden;
	width: 100%;
	margin:0;
	padding: 0;
}

#header-table td{
		border: 2px solid #481B58;
}
#meetings{
		font-family: 'Calibri';
		font-size: 115%!important;
}
.subheader-table{
	margin: 0.8% auto;
  background-color: #003F87;
  width: 100%;
	table-layout: fixed;
}

.subheader-table td{
	word-break: break-all;
}
