/* HY 469 - Project - Phase B - Intermediate 1
	Team 6
	Vasileia Fragkiadaki
	Ifigeneia Tsiarsioti */

/* Style buttons */
.btn_custom{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 100% !important;
}

.btn_custom:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}
#velos-left{
    position: absolute;
    top: 48%;
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 100% !important;
}

#velos-left:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}

#velos-right{
    position: absolute;
    top: 48%;
    left:93%;
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 100% !important;
}

#velos-right:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}

button{
  border: none;
  margin:0;
  padding:0;
  background-color: #481B58;;
}

img{
  width: 18px;
}
.btn_custom2{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding-left: 3%;
	padding-top: 2%;
	padding-right: 8%;
	padding-bottom: 2%;
    border-radius: 50px !important;
    font-size: 100% !important;
	float:right;
	margin-right:4%;

}

.btn_custom2:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}
.purple-btn{
    background-color: #6b437a;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 100% !important;
}

.purple-btn:hover{
  background-color: #481B58;
	text-decoration: none!important;
}

/*
.veli{
  float:left;
  margin-left: 240px;
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#dexi_velos{
  margin-left: 100px;
}
#container-veli{
  display: inline-block;
  width: 100%;
}
*/
