/* Style buttons */
.btn {
    background-color: #003F87; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 27px!important;
    height: 25px!important;
    border-radius: 25px!important;
	padding:0 !important;
  float:right;
}

/* Darker background on mouse-over */
.btn:hover{
    background-color: #3e6eb3;
    text-decoration: none;
    color: white;
}

.btn_custom{
    background-color: #e5ecf6;
    text-decoration: none;
    color: #00d2ff !important;
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 90px;
    height: 25px;
    border-radius: 100px;
    font-size: 80%;
}

.btn_custom:hover{
  background-color: #EBF0F7;
}
.purple-btn{
    background-color: #6b437a;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 100% !important;
}

.purple-btn:hover{
  background-color: #481B58;
	text-decoration: none!important;
}

#btn_start{
    color:white;
    padding-top: 1.5%!important;
    font-size: 125%!important;
}
img{
  width: 18px;

}

.horizontal li {
    float: left;
    margin-right: 5px;
}

.left{
  clear: both;
}

.horizontal li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
button{
  border: none;
  margin:0;
  padding:0;
  background-color: #481B58;;
}
