@import url("icons-lists.css");
@import url("buttons.css");
@import url("tables.css");
@import url("slides.css");
@import url("clock.css");
@import url("fonts.css");
html,body {

	font-size: 22px;
	background:#E5ECF6 !important;
	padding:0;
	margin:0;
	min-height:100%;
	color:white;
	font-family:'Roboto' !important;
}
#container-main {
	padding-right: 0px !important;
    padding-left: 0px !important;
	width: 100%;

 }
#row1,#row2{
	    width: 100%;


	margin-right:0;
	margin-left:0;
}

#col1 {

    float: left;
    display:table;
    vertical-align:middle;
    width: 100%;
	padding:0px;
	margin:0px;
}
#col2{
	padding-right: 1%;
}
#title{
	display: inline;

}

.header{
   background-color:#481B58;
	color:white;
	text-align:left;
    display:inline-block;
    vertical-align:middle;
    width: 100%;
}

.header2 {
	background-color: #003F87;
  float: left;
  display:table;
  vertical-align:middle;
  width: 100%;
	color:white;
	height: 30px;
	text-align:center;
}

.subheader-table{
	margin: 0.8% auto;
  background-color: #003F87;
  width: 100%;
	table-layout: fixed;
}

.subheader-table td{
	word-break: break-all;
}

.img-responsive{
	float: right;
	border-radius:50%;
	width: 70px !important;
  height: 40px !important;
	padding-top:0.5% !important;
	margin: 0;
}

#sign-in-img{
	margin-left: 50px!important;
}

.table{
	display:inline;
	table-layout: fixed;
	width:100%;
}

.table td{
		text-align: left;
}

#header-table{
	overflow: hidden;
	width: 100%;
	margin:0;
	padding: 0;
}

#header-table td{
		border: 2px solid #481B58;
}

#header-table td:nth-child(2){
		text-align: center;
}
.table td:nth-child(1){
   padding-right:120px;
   padding-top: 2.5%;
}
.table td:nth-child(2){
    padding-right:150px;
	padding-top: 2.5%;
}
.table td:nth-child(3){
  padding-right:160px;
  padding-top: 2.5%;
}
.table td:nth-child(4){
  padding-left:80px;
	padding-top: 2.5%;
	align:center;
}

.meetings-field{
	width:100%;
	background-color:white!important;
}

.bordering{
	border: 1px solid #707070;
}

.info{
	width:100%;

color:black;
}


caption{
	padding-left:0.5%;
		font-size:20px;
		margin-bottom:0;
		color:black;

}

#container-meetings {
	width: 100%;
   padding-right:0;
   padding-left:0;
   margin-right:auto;
   margin-left:auto;

 }


#table-info td{
    color: black;
	text-align:left;
	font-size:110%;
	font-family:'Roboto' !important;
	vertical-align:middle;

}

#table-info tr{
    line-height:0.5;
}

#table-info a{
	font-size:18px;
	color:#00d2ff !important;
	padding-top:1% !important;
	text-decoration:none;
}
.btn{
    background-color: #003F87;
    text-decoration: none;
    color: white !important;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    height: 45px;
    border-radius: 100px!important;
    font-size: 100% !important;
}
.btn:hover{
	background-color: #3e6eb3;
	text-decoration:none;
}

.btn_grey{
	background-color: #e5ecf6;
	text-decoration: none;
	color: #3e6eb3 !important;
	border: none;
	color: white;
	cursor: pointer;
	width: 130px;
	height: 45px;
	padding: 12px;
	border-radius: 100px!important;
	font-size: 90% !important;
}

.btn_grey:hover{
	background-color: #edf1f7;
	text-decoration:none;
}

.btn_custom{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 95% !important;
}

.btn_custom:hover{
  background-color: #3e6eb3;
	text-decoration: none!important;
}

#meetings{
		font-family: 'Calibri';
		font-size: 115%!important;
}
#newSession{
		margin-top:6%;
		margin-bottom:6%;
		margin-right:0;
		padding-left:30%;
}

.btn2{
	padding-left:3%;
	background-color: #00d2ff;
	color:white;
	border: none;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:2%;
	padding-top:2%;
	text-decoration:none;

}
.btn2:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white;
}
.btn3{
	padding-left:10%;
	padding-right:10%;
    background-color: #e5ecf6;
    text-decoration: none;
    color: #00d2ff !important;
	border: none;
	border-radius:50px;
	width:300px;
	font-size:20px;
	padding-bottom:5%;
	padding-top:5%;


}
.btn3:hover{
    background-color: #481B58;
    text-decoration: none;
    color: white;
}
#Ameetings{
	font-size:20px;

}

#addIcon{
	margin-left:1%;
	margin-right:3%;
	margin-bottom: 2%;
	width:20px;

}
#col-session{
	padding:0;
}

#newP{
	margin:0;
	padding:0;
}
#app-name{
	font-size: 140%!important;
  font-family: 'Calibri';
	padding-top:0.3%;
	padding-bottom:0;
	padding-left: 0.5%;
	color:white;
}
#timer{
	font-size: 110%!important;
  font-family: 'Calibri';
}

#date{
  font-size: 115%!important;
  font-family: 'Calibri';
	padding-top:0.1%;
	padding-bottom:0;
	text-align: center;
	color:white;
}
#menu_icons{
	padding-top:1%;
}

#Icon2{
	width:30px;
	height:30px;
}
#text1{
	float:left;
	padding-left:0;
}
#btns2{
	padding-left:48% !important;
	padding-right:4% !important;

}
#btns{
	padding-left:64% !important;
	padding-right:4% !important;

}

#meeting-title{
	float:left;
	margin-left:10%;
	font-size: 110%;
	font-family: 'Calibri';
}
.dropdown {
    position: relative;
    display: inline-block;
		height: 40px;
}

.dropdown-menu {
		position: absolute!important;
		top:6%!important;
		right: 75%!important;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #481B58!important;
		border: 4px solid #2f123a;
		width: 18%!important;
		height: 80%!important;
}
#sign-out{
	position: absolute;
	top:5%;
	width:100%;
	font-family: 'Calibri';
	min-height:100%;
	padding-top:2%;
	font-size: 115%;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: white;
}

.dropdown-menu:hover, #sign-out:hover {
	display: block;
  background-color: #6b437a!important;
}

.dropdown-menu:active, #sign-out:active {
  background-color: #764e84!important;
}

/* Gia to Book-Details */

.book-field{
	width:100%;
	background-color:white !important;
}
.btn_greyB{
	background-color: #e5ecf6!important;
	text-decoration: none;
	color: #3e6eb3 !important;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 130px;
	height: 45px;
	padding: 12px;
	border-radius: 100px!important;
	font-size: 90% !important;
}

.btn_greyB:hover{
		background-color: #edf1f7!important;
	text-decoration:none;
}

#submit1{

	border: none;
	color: white;
	cursor: pointer;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	font-size: 120% !important;
	text-align:center;
	display:inline-block;
}

#submit1:hover{

}
#book{
	text-align:center;

}
#participants{
	background-color: white !important;
	overflow: scroll;
	overflow-x: hidden;
	height:200px;

  }


  #colPar{
	  padding-left:0 !important;
	  padding-right:4% !important;
  }
  #col3{
	  padding-right:1% !important;
  }

  p{
	display:inline;
}

#datetime{
	padding-top:0 !important;
	padding-bottom:7% !important;
}
#formCol{
	padding-bottom:0% !important;
	padding-top:1.3% !important;
}

.form-group{
	padding:1% !important;
	margin:0 !important;
}
.form-control{
	padding: 6px 0.5% !important;
	background-color:#E5ECF6 !important;
	color:black !important;
}
label{
	font-family:'Roboto' !important;
	padding-left:0.5%;
	margin-bottom:0.5% !important;
}
.btn_greyB{
	background-color: #e5ecf6!important;
	text-decoration: none;
	color: #3e6eb3 !important;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 130px;
	height: 45px;
	padding: 12px;
	border-radius: 100px!important;
	font-size: 90% !important;
}

.btn_greyB:hover{
		background-color: #edf1f7!important;
	text-decoration:none;
}

.btnPlus{
    background-color: #003F87;
    text-decoration: none !important;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px !important;
    font-size: 95% !important;
}

.btnPlus:hover{
  background-color: #3e6eb3 !important;
	text-decoration: none!important;
}
/*added*/
.participants2{
  background-color: white !important;
  overflow: scroll;
}

.files2{
  margin-top: 4%;
  background-color: white !important;
  overflow: scroll;
}
.participants{
  background-color: white !important;
  overflow: scroll;
}

.files{
  margin-top: 4%;
  background-color: white !important;
  overflow: scroll;
}
.participants_c{
	margin: 4% auto!important;
  background-color: white !important;
  overflow: scroll;
	height:240px;
	overflow-x:hidden;
}

.files_c{
  margin: 4% auto;
  background-color: white !important;
  overflow: scroll;
	height: 260px;
	overflow-x:hidden;
}
.participants_r{
	margin: 4% auto!important;
  background-color: white !important;
  overflow: scroll;
	height:180px;
	overflow-x:hidden;
}

.files_r{
  margin: 4% auto;
  background-color: white !important;
  overflow: scroll;
	height: 180px;
	overflow-x:hidden;
}
#container-cameras{
	padding-right:0;
	padding-left:0;
/*	display: table;*/
	width: 100%;
	height: 20%;
}

.meeting-room-camera, .camera1, .camera2{
	width: 100%;
	height: 140px;
}

.cam-people{
	width: 100%;
	height: 140px;
}
#sign-in-img{
	margin-left: 50px!important;
}
.main-presentation{
  background-color: white !important;
	margin: 2% !important;
}
