/* HY 469 - Project - Phase B - Intermediate 1
	Team 6
	Vasileia Fragkiadaki
	Ifigeneia Tsiarsioti */

@import url("buttons.css");
@import url("tables.css");
@import url("fonts.css");
@import url("clock.css");
@import url("slides.css");
@import url("icons-lists.css");

html,body {
	font-size: 22px;
	background:#E5ECF6 !important;
	padding:0;
	margin:0;
	min-height:100%;
	color:white;
	font-family:'Roboto' !important;
}
#container-main {
	padding-right: 0px !important;
    padding-left: 0px !important;
	width: 100%;
	

 }
#row1,#row2{
 	width: 100%;
	margin-right:0;
	margin-left:0;
}

#col1 {
    float: left;
    display:table;
    vertical-align:middle;
    width: 100%;
	padding:0px;
	margin:0px;
}
#col2{
	padding-right: 1%;
}
#title{
	display: inline;

}

.header{
   background-color:#481B58;
	color:white;
	text-align:left;
    display:inline-block;
    vertical-align:middle;
    width: 100%;
}

.header2 {
	background-color: #003F87;
  float: left;
  display:table;
  vertical-align:middle;
  width: 100%;
	color:white;
	height: 30px;
	text-align:center;
}

.img-responsive{
	float: right;
	border-radius:50%;
	width: 70px !important;
  height: 40px !important;
	padding-top:0.5% !important;
	margin: 0;
}

.meetings-field{
	width:100%;
	background-color:white!important;
}

.bordering{
	border: 1px solid #707070;
}

.info{
	width:100%;

color:black;
}


caption{
	padding-left:0.5%;
		font-size:20px;
		margin-bottom:0;
		color:black;

}

#container-meetings {

	width: 100%;

	height: 100%;
   padding-right:0;
   padding-left:0;
   margin-right:auto;
   margin-left:auto;

 }




#meetings{
		font-family: 'Calibri';
		font-size: 115%!important;
}
#newSession{
		margin-top:6%;
		margin-bottom:6%;
		margin-right:0;
		padding-left:36%;
}

#Ameetings{
	font-size:20px;

}

#addIcon{
	margin-left:1%;
	margin-right:3%;
	margin-bottom: 2%;
	width:20px;

}
#col-session{
	padding:0;
}

#newP{
	margin:0;
	padding:0;
}


#menu_icons{
	padding-top:1%;
}

#Icon2{
	width:30px;
	height:30px;
}
#text1{
	float:left;
	padding-left:0;
}

.dropdown {
    position: relative;
    display: inline-block;
		height: 40px;
}

.dropdown-menu {
		position: absolute!important;
		top:6%!important;
		right: 75%!important;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #481B58!important;
		border: 4px solid #2f123a;
		width: 18%!important;
		height: 80%!important;
}
#sign-out{
	position: absolute;
	top:5%;
	width:100%;
	font-family: 'Calibri';
	font-size:115%!important;
	min-height:100%;
	padding-top:2%;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: white;
}

.dropdown-menu:hover, #sign-out:hover {
	display: block;
  background-color: #6b437a!important;
}

.dropdown-menu:active, #sign-out:active {
  background-color: #764e84!important;
}

.main-presentation{
  background-color: white !important;
	margin: 2% !important;
}

.participants2{
  background-color: white !important;
  overflow: scroll;
}

.files2{
  margin-top: 4%;
  background-color: white !important;
  overflow: scroll;
}
.participants{
  background-color: white !important;
  overflow: scroll;
}

.files{
  margin-top: 4%;
  background-color: white !important;
  overflow: scroll;
}
.participants_c{
	margin: 4% auto!important;
  background-color: white !important;
  overflow: scroll;
	height:240px;
	overflow-x:hidden;
}

.files_c{
  margin: 4% auto;
  background-color: white !important;
  overflow: scroll;
	height: 260px;
	overflow-x:hidden;
}
.participants_r{
	margin: 4% auto!important;
  background-color: white !important;
  overflow: scroll;
	height:180px;
	overflow-x:hidden;
}

.files_r{
  margin: 4% auto;
  background-color: white !important;
  overflow: scroll;
	height: 180px;
	overflow-x:hidden;
}
#container-cameras{
	padding-right:0;
	padding-left:0;
/*	display: table;*/
	width: 100%;
	height: 20%;
}

.meeting-room-camera, .camera1, .camera2{
	width: 100%;
	height: 140px;
}

.cam-people{
	width: 100%;
	height: 140px;
}
#sign-in-img{
	margin-left: 50px!important;
}

.book-field{
	width:100%;
	background-color:white !important;
}